QWidget {
    font-family: "Fira Sans", "Noto Sans", "DejaVu Sans", sans-serif;
    font-size: 13px;
}

#searchbarInput {
  padding: 8px 12px;
}

#searchbarInput:focus {
}

#searchbarInput::placeholder {
}

#appList {
   
}

#appList::item {
    
}

#appList::item:selected {
}

#appList QScrollBar:vertical {
  max-width:6px;
    
}

#appList QScrollBar::handle:vertical {
   
}

#appList QScrollBar::handle:vertical:hover {
}

#appList QScrollBar::add-line:vertical,
#appList QScrollBar::sub-line:vertical {
}

#appList QScrollBar::add-page:vertical,
#appList QScrollBar::sub-page:vertical {
}
#bottomBar {
 
}
#bottomBar QToolButton {
   
}

#bottomBar QToolButton:hover {
    
}

#bottomBar QLabel {
    
}

#actionButton {
    
}

#actionButton:hover {
    
}

#actionShortcut {
    
}

#actionName {
}


